@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Lato:700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);

body {
    background-color: #E74C3C;
}

button {
    border: 0px;
    height: 40px;
    width: 77px;
    margin: 10px;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 18px;
    background-color: #2C3E50;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #1a2530;
}

button:focus {
    outline: none;
}

#screen {
    background-color: #ECF0F1;
    width: 280px;
    height: 40px;
    float: right;
    margin: 10px;
    border-radius: 5px;
}

#number-text {
    float: right;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 20px;
    position: relative;
    bottom: 4px;
    color: black;
    padding: 10px;
}

#title-text {
    width: 500px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin: 20px auto;
}

#main-area {
    width: 400px;
    margin: 0px auto;
    background-color: #2980B9;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 5px 5px 10px #444;
}